*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-deeppink: hsl(308, 100%, 50%);
  --color-deeppink-darker: hsl(308, 100%, 30%);
  --color-light-blue: hsl(240, 67%, 55%);
  --color-white: hsl(0, 0%, 100%);
  --color-backdrop: hsla(0, 0%, 0%, 0.541);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  background-color: var(--color-white);
  font-family: monospace;
}

.header {
  --v-padding: 16px;
  position: sticky;
  top: 0;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding-block-start: var(--v-padding);
}

.header-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-form input, .header-form select {
  background-color: var(--color-white);
  border: none;
}

.header-form > div {
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  padding-block-end: 16px;
  width: 100vw;
}

.header-form label {
  display: flex;
  flex-direction: column;
}

.assignment-container {
  flex-grow: 1;
  padding: 8px;
  overflow-y: auto;
  background-image: url(./img/cat-lover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.assignment {
  --icon-font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'pushpin subject status'
    'pushpin assignment status'
    'pushpin date status';
  padding-inline: 8px;
  padding-block: 8px;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-deeppink);
}

.assignment p {
  font-size: 1rem;
  line-height: 1.5;
}

.assignment > span {
  grid-area: pushpin;
  align-self: center;
  font-size: var(--icon-font-size);
}

.assignment > p#subject-text {
  grid-area: subject;
  text-align: center;
  font-weight: 800;
}

.assignment > p#assignment-text {
  grid-area: assignment;
}

.assignment > p#assignment-date {
  grid-area: date;
}

.assignment > button {
  border: none;
  grid-area: status;
  font-size: 1.25rem;
  background-color: transparent;
}

.dialog-modal#confirm-modal {
  font-size: 1.25rem;
  max-width: 340px;
  border: 2px solid var(--color-light-blue);
  padding: 8px 16px 16px;
  margin: auto;
  border-radius: 5px 15px;
}

.dialog-modal#confirm-modal form {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0px;
  padding-block-start: 16px;
}

.dialog-modal#confirm-modal::backdrop {
  background-color: hsla(0, 0%, 40%, 0.5);
  backdrop-filter: blur(5px);
}

.button {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: oblique;
  color: var(--color-white);
  appearance: none;
  border: none;
  box-shadow: 2px 2px 0px 1px var(--color-deeppink-darker);
  border-radius: 5px;
  padding: 8px 24px;
  background-color: var(--color-deeppink);
}

.button:active {
  box-shadow: 0px 0px 0px 1px var(--color-deeppink-darker);
  transform: translate(1px, 1px);
}